* {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #645244;
}

html {
  background-color: #e5f4e3;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  margin: 0;
  padding: 0;
  z-index: 5;
}

.header-image {
  position: relative;
  background-size: cover;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(50%);
}

.header-text {
  text-align: center;
  position: absolute;
  padding: 10px;
  margin: 0 auto;
  width: 60%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
  background-color: #e5f4e3;
  color: #000000;
  font-size: 6vw;
  font-weight: bold;
}

.content {
  margin: 10px;
  padding: 10px;
}

h2 {
  font-size: 30px;
  padding-top: 30px;
  font-weight: bold;
}

sup {
  font-size: 8px;
}

a {
  text-decoration: none;
  color: #5da9e9;
}

a:hover {
  text-decoration: none;
  color: #003f91;
}

.defn {
  margin: auto;
  width: fit-content;
  background-color: #8080805b;
  padding: 16px;
  border-radius: 20px;
}

.defn term {
  display: block;
  font-size: 16px;
  font-weight: bold;
}

.defn type {
  display: block;
  font-style: italic;
  font-size: 14px;
}

.collapse,
.active {
  cursor: pointer;
  background-color: #8080805b;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.collapse i {
  font-size: 14px;
}

.active.hover,
.collapse:hover {
  background-color: #5daae9;
}

.collapse-content {
  padding: 10px;
  text-align: left;
  outline: none;
  display: none;
}

.collapse-content p,
li {
  margin: 5px;
}
