* {
  font-size: 1.3vw;
  font-family: "Open Sans", sans-serif;
  color: #645244;
}

html {
  background-color: #e5f4e3;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  margin: 0;
  width: 100vw;
  padding: 1.5vw;
}

h1 {
  font-size: 4.5vw;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 2.5vw;
  padding-top: 2vw;
  font-weight: bold;
}

.header img {
  display: block;
  overflow: hidden;
  object-fit: cover;
  width:100vw;
  height: 30vw;
  margin: -1.5vw;
  filter: brightness(50%);
}

.header-text {
  font: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

sup {
  font-size: 0.8vw;
}

a {
  text-decoration: none;
  color: #5da9e9;
}

a:hover {
  text-decoration: none;
  color: #003f91;
}

.defn {
  margin: auto;
  width: fit-content;
  background-color: #8080805b;
  padding: 1.5vw;
  border-radius: 1.5vw;
}

.defn term {
  display: block;
  font-size: 1.3vw;
  font-weight: bold;
}

.defn type {
  display: block;
  font-style: italic;
  font-size: 1.1vw;
}

.defn def {
  padding-top: 1vw;
}

.collapse, .active {
  cursor: pointer;
  background-color: #8080805b;
  padding: 0.75vw;
  width: 97vw;
  border: none;
  text-align: left;
  outline: none;
}

.collapse i {
  font-size: 1.1vw;
}

.active.hover, .collapse:hover {
  background-color: #5daae99e;
}

.collapse-content {
  background-color: #8080801e;
  padding: 1vw;
  width: 95.5vw;
  border: none;
  text-align: left;
  outline: none;
  display: none;
}

.collapse-content p, li {
  margin: 0.5vw;
}
