* {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #645244;
}

html {
  background-color: #e5f4e3;
  padding: 0;
  margin: 0;
  border: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

#header {
  padding: 0;
  display: block;
  background-size: cover;
  position: static;
  width: 100%;
  height: 300px;
  filter: brightness(50%);
}

.header-text {
  background-color: white;
  color: black;
  position: absolute;
  padding: 10px;
  width: 50%;
  font-size: 100px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
}

#content {
  padding: 0;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 30px;
  padding-top: 30px;
  font-weight: bold;
}

sup {
  font-size: 8px;
}

a {
  text-decoration: none;
  color: #5da9e9;
}

a:hover {
  text-decoration: none;
  color: #003f91;
}

.defn {
  margin: auto;
  width: fit-content;
  background-color: #8080805b;
  padding: 16px;
  border-radius: 20px;
}

.defn term {
  display: block;
  font-size: 16px;
  font-weight: bold;
}

.defn type {
  display: block;
  font-style: italic;
  font-size: 14px;
}

.defn def {
  padding-top: 10px;
}

.collapse,
.active {
  cursor: pointer;
  background-color: #8080805b;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.collapse i {
  font-size: 14px;
}

.active.hover,
.collapse:hover {
  background-color: #5daae99e;
}

.collapse-content {
  padding: 10px;
  text-align: left;
  outline: none;
  display: none;
}

.collapse-content p,
li {
  margin: 5px;
}
